.prime{
    
    border:solid #303a50;
    border-width:2px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    row-gap:7px;
    margin-bottom:20px;

}
.subdiv{
    border:solid #303a50;
    border-radius:3px;
    border-width:1px;
    background-color:;
    color:greenyellow;
    padding:4px;
    margin-bottom: 20px;
}
.strk{
    text-decoration: line-through;
    text-decoration-color:greenyellow;
    
}

    

.mailbox-inside::before{
    content: '     ';
    position: absolute;
    
    height:20px;
    width: 20px;
    background-image:url('icons.png');
    background-size: contain;
    border-radius:10px;
    color:wheat;
    left:0;
    translate: 10px;

    margin-left:3px;
    margin-top: auto;
    margin-bottom: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    
    
    
}
.mailbox::after{
    content:'Note';
    position: absolute;
    color:white;
    left:0;
    translate:15px -30px;
    
    background-color:#0a0e12;
}
.mailbox{
    color:white;
    border: solid #303a50;
    border-width:1px;
    border-radius: 5px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    row-gap:5px;
    margin-bottom:20px;
    
    text-decoration: underline;
    padding: 20px;
    padding-left:30px;
    
}
.mailbox-inside{
    margin-left:15 px;
}

