.prime{
    
    border: solid solid #303a50;
    border-width:2px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    row-gap:7px;
    margin-bottom:20px;

}
.subdiv{
    border:solid #303a50;
    border-radius:3px;
    border-width:1px;
    background-color:;
    color:greenyellow;
    padding:4px;
    margin-bottom: 20px;
}
.strk{
    text-decoration: line-through;
    text-decoration-color:greenyellow;
    
}

